#bracelet {
  border: 0.6rem solid rgba(166, 0, 94, 0.347);
}

.color-black {
  background: url(/img/palette/Black.png) no-repeat center / cover;
}

.color-black:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ black.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}

.color-ruby {
  background: url(/img/palette/Ruby.png) no-repeat center / cover;
}

.color-ruby:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ ruby.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}

.color-red {
  background: url(/img/palette/Red.png) no-repeat center / cover;
}

.color-red:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ red.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}

.color-coral {
  background: url(/img/palette/coral.png) no-repeat center / cover;
}

.color-coral:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ coral.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}

.color-orange {
  background: url(/img/palette/Orange.png) no-repeat center / cover;
}

.color-orange:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ orange.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}

.color-pumpkin {
  background: url(/img/palette/Pumpkin.png) no-repeat center / cover;
}

.color-pumpkin:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ pumpkin.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-salmon {
  background: url(/img/palette/salmon.png) no-repeat center / cover;
}

.color-salmon:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ salmon.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-watermelon {
  background: url(/img/palette/watermelon.png) no-repeat center / cover;
}

.color-watermelon:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ watermelon.jpg) no-repeat
    center / cover;
  transition: all 0.4s;
}
.color-fuschia {
  background: url(/img/palette/Fuschia.png) no-repeat center / cover;
}

.color-fuschia:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ fuschia.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-rouge {
  background: url(/img/palette/rouge.png) no-repeat center / cover;
}

.color-rouge:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ rouge.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-pink {
  background: url(/img/palette/Pink.png) no-repeat center / cover;
}

.color-pink:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ pink.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-lightpink {
  background: url(/img/palette/Light\ Pink.png) no-repeat center / cover;
}

.color-lightpink:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ light\ pink.jpg) no-repeat
    center / cover;
  transition: all 0.4s;
}
.color-purple {
  background: url(/img/palette/Purple.png) no-repeat center / cover;
}

.color-purple:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ purple.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-lavender {
  background: url(/img/palette/Lavender.png) no-repeat center / cover;
}

.color-lavender:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ lavendar.jpg) no-repeat
    center / cover;
  transition: all 0.4s;
}
.color-mauve {
  background: url(/img/palette/mauve.png) no-repeat center / cover;
}

.color-mauve:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ mauve.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-lilac {
  background: url(/img/palette/lilac.png) no-repeat center / cover;
}

.color-lilac:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ lilac.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-navy {
  background: url(/img/palette/Navy.png) no-repeat center / cover;
}

.color-navy:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ navy.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-blue {
  background: url(/img/palette/Blue.png) no-repeat center / cover;
}

.color-blue:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ blue.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-turquoise {
  background: url(/img/palette/Turquoise.png) no-repeat center / cover;
}

.color-turquoise:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ turqoise.jpg) no-repeat
    center / cover;
  transition: all 0.4s;
}
.color-lightblue {
  background: url(/img/palette/Light\ Blue.png) no-repeat center / cover;
}

.color-lightblue:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ light\ blue.jpg) no-repeat
    center / cover;
  transition: all 0.4s;
}
.color-green {
  background: url(/img/palette/Green.png) no-repeat center / cover;
}

.color-green:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ green.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-olive {
  background: url(/img/palette/Olive.png) no-repeat center / cover;
}

.color-olive:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ olive.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-mint {
  background: url(/img/palette/Mint.png) no-repeat center / cover;
}

.color-mint:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ mint.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-pistachio {
  background: url(/img/palette/Pistachio.png) no-repeat center / cover;
}

.color-pistachio:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ pistachio.jpg) no-repeat
    center / cover;
  transition: all 0.4s;
}
.color-avocado {
  background: url(/img/palette/avocado.png) no-repeat center / cover;
}

.color-avocado:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ avocado.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-yellow {
  background: url(/img/palette/Yellow.png) no-repeat center / cover;
}

.color-yellow:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ yellow.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-lime {
  background: url(/img/palette/lime.png) no-repeat center / cover;
}

.color-lime:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ lime.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
.color-white {
  background: url(/img/palette/White.png) no-repeat center / cover;
}

.color-white:hover {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background: url(/img/jewelry/bracelet/acc\ 4\ -\ white.jpg) no-repeat center /
    cover;
  transition: all 0.4s;
}
